* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background-color: red;
}

nav {
    width: 500px;
    background-color: burlywood;
}

header ul {
    display: flex;
    justify-content: space-around;
}

/***********Form************/

.container-form {
    max-width: 530px;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}